<!--navegación tablero-->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!--redirigir a la raíz / -->
            <a class="navbar-brand" routerLink="/tablero">Tablero</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button class="btn btn-info btn-block" (click)="verCursos()">Cursos</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-secondary btn-block">Catedráticos</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-info btn-block">Filtrar por nombre curso</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-secondary btn-block">Filtrar por nombre catedrático</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-danger btn-block" (click)="salir()">Salir</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>