Grupo 3: José Pajoc, William Ambrocio, Carlos Toscano, Samuel Pajoc.
<!--Llamar al componente menú del tablero-->
<app-menu-tablero></app-menu-tablero>

<br>
<!--boorstrap divide en 12 columnas-->
<div class="container">
    <div class="row">
        <div class="col-md-10">
  
            <!--Nueva publicación-->
             <div class="card mt-4">
                <div class="card-body">
                    <div class="card-title">Escribir nueva publicación</div>
                    <div class="form-group">
                        Curso:
                        <!--Tomar el valor de la selección-->
                        <!--Se usa al existir un cambio en la selección (change)="método()"-->
                        <select [(ngModel)]="cursoSeleccionado" >
                            <option value="0">--> Seleccionar curso</option>
                            <option *ngFor="let curso of cursos">{{curso.nombre}}</option>
                        </select>
                        <input type="text" placeholder="Escribe tu comentario" [(ngModel)]="comentario" class="form-control">
                        <button class="btn btn-info" (click)="publicarComentarioCurso()">Publicar</button>
                    </div>
                </div>
            </div>
            <h4>Los cursos de la carrera son</h4>
            <!--ver lista-->
            <ul class="list-group">
                <!--For en angular-->
                <li *ngFor="let curso of cursos" class="list-group-item list-group-item-action">
                    {{curso.nombre}}, semestre: {{curso.semestre}}
                </li>
            </ul>

        </div>
        <div class="col-md-2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf7_q1uBKN7hQkRaNZCC8Gk-IRVUma4UMWg&usqp=CAU"
                style="border-radius: 20px;" width="120" height="120">
                <h4>Usuario: {{ nombreUsuario }}</h4>
        </div>
    </div>

</div>