Grupo 3: José Pajoc, William Ambrocio, Carlos Toscano, Samuel Pajoc.
<!--Llamar al componente menú del tablero-->
<app-menu-tablero></app-menu-tablero>

<br>
<!--boorstrap divide en 12 columnas-->
<div class="container">
    <h4>Publicaciones realizadas por los usuarios</h4>
    <div class="row">
        <div class="col-md-5">
            <!--ver lista de publicaciones a catedráticos-->
            <ul class="list-group">
                Catedráticos
                <!--For en angular-->
                <li *ngFor="let publicacion of publicacionesTutor" class="list-group-item list-group-item-action">
                    Publicado por: {{publicacion.usuario}}<br>Catedrático: {{publicacion.tutor}}<br>Comentario: {{publicacion.mensaje}}<br>Fecha de publicación: {{publicacion.fecha}}
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            Cursos
            <li *ngFor="let curso of publicacionesCursos" class="list-group-item list-group-item-action">
                Publicado por: {{curso.usuario}}<br>Curso: {{curso.curso}}<br>Comentario: {{curso.mensaje}}<br>Fecha de publicación: {{curso.fecha}}
            </li>
        </div>
        <div class="col-md-2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf7_q1uBKN7hQkRaNZCC8Gk-IRVUma4UMWg&usqp=CAU"
                style="border-radius: 20px;" width="120" height="120">
            <h4>Usuario: {{ nombreUsuario }}</h4>
        </div>
    </div>
</div>